body{
    font-size: 20px;
    background-color: #e6e6e6;
    display: flex;
    height: 100%;
    flex-direction: column;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #875252;
}
.logo{
    font-size: 40px;
    padding-left: 60px;
}
.logo a{
    color: #000;
    text-decoration: none;
}
.nav ul{
    padding:13px;
    margin:0px;
    list-style:none;
}

.nav ul li{
    display: inline;
}
.nav ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #333;
    text-decoration: none;
}
.nav ul li a:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);

}

.cat {
    display: inline;
    font-size: 9px;
}
.cat ul{
    text-align: center;
    margin: 0;
}
.cat ul li{

    display: inline-block;
    list-style: none;
}

.cat ul li a{
    padding: 15px 15px;
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.cat ul li a:hover{
    box-shadow: 2px 2px 2px #888888;
}
.banner{
    width: 64%;
    padding: 0.1% 1% 0.1% 1%;
}
.destaque{
    width: 35%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    padding: 0 1% 0 1%;

}
.destaque-titulo{
    background-color: #875252;
    display: flex;
    width: 100%;
}
.destaque-titulo h2{
    margin: 10px auto;
}

.cards{
    width: 100%;
    padding-top: 2%;
}
.cards a:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
}
.cards a{
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
}
.cards a:link{
    text-decoration:none;
}
.descricaocard{
    text-align: center;
    color: #000;
    font-size: 12px;
    line-height: 1;

}
.titulocard{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 15px;
}
.tempocard{
    line-height: 0.3;
}
.rendcard{
    line-height: 0.3;
}
.catcard{
    padding-top: 30px;
    line-height: 0.3;
}


.listatodasreceitas{
    color: #000;

}
.listatodasreceitas:hover{

    background-color: rgb(240, 240, 240);
    color: rgb(22, 19, 19);
    text-decoration: underline;
}

.categoria ul li{
    list-style-type:none
}
.categoria ul li a{
    color: #000;
    text-decoration:none;
    padding: 5px;
}
.categoria ul li a:hover{
    background-color: rgb(228, 228, 228);
}
.btmvoltar{
    float: right;


}
.btmvoltar a{
    color: #fff;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    text-decoration:none;
}
.btmvoltar a:hover{
    color: rgb(219, 217, 99);
}
.btn-direito {
    float: right;
}
.mais{
    float: right;
    padding: 50px;
    font-size: 14px;
}
.aviso{
    font-size: 12px;
    color: #875252;
    padding: 10px 20px;
}
.pesquisa{
    padding-top: 14px;
}
#busca{
    text-transform: uppercase;
    list-style: nome;
}
#receita{
    text-transform: uppercase;
}

.maisvistos{
    background-color: #875252;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    width:100%;
}
.maisvistostitulo{
    text-align: center;
    margin-bottom: auto;
    line-height: 2;
}
.cardVerticais{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.cardVerticais a{
    background-color: #fff;
    display: inline;
    text-align: center;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    width: 33.34%;
    margin: 1%
}
.cardVerticais a:first-child {
    margin-left: 0;
}

.cardVerticais a:last-child {
    margin-right: 0;
}

.cardVerticais a:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
    text-decoration: none;
}
.nomeCardVertical{
    padding: 10px 0;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: bold;
    text-decoration:none;
    color: #000;
}
.tempoCardVertical{
    font-size: 12px;
    line-height: 5px;
    text-decoration:none;
    color: #000;
}
.rendCardVertical{
    font-size: 12px;
    line-height: 5px;
    text-decoration:none;
    color: #000;
}
.catCardVertical {
    font-size: 15px;
    padding-top: 40px;
    line-height: 15px;
    text-decoration:none;
    color: #000;
    font-weight: bold;
}
footer{
    background-color: #000;
}
footer p{
    margin-bottom: 0;
}
.footer{
    display: flex;
    color: #fff;
    width: 100%;
    height: 200px;
}
.redes{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.redes div{
    padding: 15px;
    font-size: 55px;
}
.logofooter{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.copyright{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.fa-facebook{
    color: rgb(22, 19, 211);
}
.fa-youtube-play{
    color:red;
}
.fa-twitter{
    color: rgb(0, 110, 255);
}
.fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.espaco{
    padding-bottom: 31.8%;
}


